.card {
    background: linear-gradient(145deg, #ffffff, #f1f1f1);
    box-shadow: 5px 5px 10px #b1b1b1, -5px -5px 10px #ffffff;
}

form label {
    color: #626F47;
    font-weight: bold;
}

input {
    border: 1px solid #626F47;
    border-radius: 10px;
}

input:focus {
    box-shadow: 0 0 5px #626F47;
    border-color: #626F47;
}

.btn:hover {
    background-color: #626F47;
}